*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

:root {
	--color1 : #C3EEEB;
	--color2 : #F7C8C7;
	--color3 : #F9F99A;
	--division : 4;
	--colorLight : #fff;
	--colorDark : #000;
}


body {
	height : 100vh;
	font-family: Arial,Helvetica,sans-serif;
	background: var(--colorLight);
	transition: 2s;
}


h1, h3 , h2 , figcaption {
	text-align: center;
	color: var(--colorDark);
}




::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: var(--color1);
    border-radius: 20px; 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color2); 
    transition: all 1s!important;
}

/***************************************/

header {
	width: 100%;
	height: 70vh;

}

header img {
	float: left;
	margin-top: 3vh;
	height: 60px;
}


header nav ul li {
	float: left;
	display: block;
	padding-top: 5vh;
	padding-left: calc(100% / 11);
	margin: auto;
	transition: 1s;
	cursor: pointer;
}


header nav ul li .button {
	padding: 5px;
	background: var(--colorLight);
	border: 3px solid var(--colorDark);
	border-radius: 50px;
	transition: 1s;
	min-width: 8vw;
	text-align: center;
	color: var(--colorDark);
}


li:nth-child(1){
	animation: slide 2.5s infinite;
	animation-delay: 0s;
}

li:nth-child(2){
	animation: slide 2.5s infinite;
	animation-delay: 0.5s;
}

li:nth-child(3){
	animation: slide 2.5s infinite;
	animation-delay: 1s;
}

li:nth-child(4){
	animation: slide 2.5s infinite;
	animation-delay: 1.5s;
}

li:nth-child(5){
	animation: slide 2.5s infinite;
	animation-delay: 2s;
}



header nav ul li .button:hover {
	background: var(--colorDark);
	color: var(--colorLight);;
}

@keyframes slide{
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(40px);
	}
	100% {
		transform: translateY(0px);
	}
}

header nav ul li a{
	text-align: center;
	text-decoration: none;
	color: var(--colorDark);
	transition: 1s;
}

header nav ul li:hover a {
	color: var(--colorLight);;
}

footer {
	background: #f2F2F2;
	text-align: center;
	position: relative;
}

/***************************************/

.light-mod {
	width: 50px;
	height: 50px;
	background: var(--colorDark);
	color: var(--colorLight);
	border-radius: 50%;
	position: relative;
	top: 10px;
	left: 95vw;
	transition: 0.5s;
	position: fixed;
	z-index: 9999999;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
}

.light-mod i {
	position: relative;
	top: 8px;
}



/***************************************/
.round {
  width: 600vh;
  height: 600vh;
  background: var(--color3);
  position: absolute;
  border-radius: 50%;
  animation: launch-cercle 3s ;
  animation-fill-mode: forwards;
  z-index: -1;
  position: fixed;
  transition: 2s;
}


@keyframes launch-cercle {
  0% {
    top: -800vh;
    left: -800vh;
  }
  35% {
    top: -800vh;
    left: -800vh;
  }
  100% {
    top: -20vh;
    left: -20vh;
  }
}
/***************************************/


.main-title {
	text-transform: uppercase;
	color: transparent;
	font-weight: 900;
	font-size: 0px;
}

.main-title span {
	display: inline-block;
	position: relative;
	overflow: hidden;
	font-size: clamp(20px,8vw,120px);
	color: var(--colorDark);
	transition: 2s;
}

.main-title span::after{
	content: '';
	display: block;
	position: absolute;
	width: 120%;
	height: 100%;
	top: 0;
	left: 0;
	transform: translateX(-10%);
}

.main-title:nth-child(1) {
	font-weight: 300;
	animation: txt-appearance 0s 1s forwards;
}

.main-title:nth-child(2) {
	animation: txt-appearance 0s 1.25s forwards;
	padding-bottom: 20px;
}

.main-title:nth-child(1) span::after{
	background: var(--color2);
	animation: slide-in 0.75s ease-out forwards,
	slide-out 0.75s 1s ease-out forwards;
}

.main-title:nth-child(2) span::after{
	background: var(--color1);
	animation: slide-in 0.75s 0.3s ease-out forwards,
	slide-out 0.75s 1.3s ease-out forwards;
}

@keyframes slide-in{
	100%{
		transform: translateX(0%);
	}
}

@keyframes slide-out{
	100%{
		transform: translateX(101%);
	}
}

@keyframes txt-appearance{
	100%{
		color: #222;
	}
}

.fixed-title {
	background-attachment: fixed;
	position: fixed;
	z-index: -1;
	width: 100vh;
	left: 25%;
	top: 25%;
	min-height: 40vh;
}




/***************************************/


figcaption {
	padding-top: 20px;
}

figcaption a {
	color: #e00;
}

main img {
	margin: auto;
	display: block;
	cursor: pointer;
	transition: 1s;
	width: 100px;
}

main img:hover {
	transform: rotate(360deg) scale(1.5);
}

figcaption {
	transition: 1s;
	padding-bottom: 10px;
}

figcaption:hover{
	transform: scale(1.2);
}
/***************************************/
.container-table{
	overflow: auto;
}

table {
	border-collapse: collapse;
	overflow:auto;
	width: 400px;
	width: auto;
	box-shadow: 0 5px rgba(0,0,0,0.15);
	cursor: pointer;
	margin: 25px auto;
	border : 2px solid midnightblue;
	transition: 0.5s;
}

table:hover {
	transform: translateY(10px) ;
	box-shadow: none;
}

thead tr {
	background: midnightblue;
	color : var(--colorLight);;
	text-align: left;

}

th,td {
	padding : 15px 20px;

}

tbody tr, td , th {
	border: 1px solid #ddd;	
} 

tbody tr{
	background: var(--colorLight);;
	color: var(--colorDark);
}

tbody tr:nth-child(even){
	background-color: var(--colorLight);

}

tbody tr:last-of-type {
	border-bottom: 2px solid midnightblue;
}
/**********************************************/

section {
	z-index: 3;
	min-height: 50vh;
	padding: 20px;
	transition: 2s;
}

p {
	color: var(--colorDark);
}

.section1 p {
	width: 40%;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 9px 9px 16px #ccc,-9px -9px 16px var(--colorLight);
	transition: 0.6s;
	cursor: pointer;
	border-radius: 10px;
}

.section1 p:hover {
	box-shadow: none;
	transform: translateY(10px);
}

.section2 {
	top: -5vh;
	position: relative;
	background: var(--colorLight);
}

.section2 p {
	width: 20%;
	min-height: 35vh;
	padding: 20px;
	margin: 50px auto;
	float: left;
	transition: 0.6s;
	text-align: center;
	box-shadow: none;
	cursor: pointer;
	z-index: -1;
	background: var(--colorLight);;

}

.section2 P:hover {
	 box-shadow: 9px 9px 16px #808080,-9px -9px 16px var(--colorLight);
	 transform: translateY(-10px) scale(1.2) ;
	 z-index: -3;
}


/*******************************/

.btn {
    background: transparent;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
  }
  
.spin-container {
 	cursor: pointer;
    width: calc(300px/var(--division));
    height: calc(300px/var(--division));
    border-radius: 50%;
    position: relative;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: none;
  }

.spin-container.active {
    transform: rotateY(180deg);
  }
  
.front, .back {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    backface-visibility: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
.front {
    background: linear-gradient(45deg, rgb(161, 243, 186), rgb(152, 198, 250));
    color: black;
  }
  
.back {
    background: linear-gradient(45deg, rgb(255, 187, 160), rgb(250, 132, 132));
    color: white;
    transform: rotateY(180deg);
  }



.bar {
    width: 50%;
    height: calc(8px/var(--division));
    background: #333;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateZ(calc(50px/var(--division)));
}
.b1 {
    transform: translate(-50%, calc(-34px/var(--division))) translateZ(calc(50px/var(--division)));
}
.b3 {
    transform: translate(-50%, calc(34px/var(--division))) translateZ(calc(50px/var(--division)));
}

.b1.b-back {
    transform: translate(-50%, 0px) translateZ(calc(50px/var(--division))) rotate(45deg);
}

.b3.b-back {
    transform: translate(-50%, 0px) translateZ(calc(50px/var(--division))) rotate(-45deg);
}



/*******************************/

.follow-cursor {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #f00;
	opacity: 0.3;
	border: 2px solid var(--colorDark);
	position: fixed;
	transition: 0.1s;
	z-index: 0;
}

/*******************************/

canvas {
	position: absolute;
	top: 70vh;
	z-index: -1;
	min-height: 220vh;
}


/*******************************/
.slide1 { transform: translateX(-100%); opacity: 0; transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;} 
.slide1.active1 { transform: translateX(0%); opacity: 1;}
.slide2 { transform: translateX(-100%); opacity: 0; transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;} 
.slide2.active2 { transform: translateX(0%); opacity: 1;}
.slide3 { transform: translateX(-100%); opacity: 0; transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;} 
.slide3.active3 { transform: translateX(0%); opacity: 1;}
.slide4 { transform: translateX(-100%); opacity: 0; transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;} 
.slide4.active4 { transform: translateX(0%); opacity: 1;}
.slide5 { transform: translateX(-100%); opacity: 0; transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;} 
.slide5.active5 { transform: translateX(0%); opacity: 1;}
.slide6 { transform: translateX(-100%); opacity: 0; transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;} 
.slide6.active6 { transform: translateX(0%); opacity: 1;}

/*******************************/

@media screen and (max-width : 1000px) { 

	.spin-container {
		position: relative;
		top: -30vh;
		display: block;
	}

	.section1 {
		background:var(--colorLight);
	}

	.section1 p , .section2 p{
		width: 90%;
		margin: 50px auto;
		padding: 30px;
		float: none;
	}

	header img {
		margin-top: 7vh;
	}

	.section2 p {
		background: none;
	}

	table {
		width: 90vw;
	}

	nav {
		transform: translateY(-400vw);
		transition: 1s;
		position: absolute;
	}

	nav.active {
		display: block;
		position: relative;
		transform: translateX(0vw);
	}

	.button {
		width: 100vw;
		height: 10vh;
		border-radius: 0px;
		left: -9vw;
		padding: 0px;
		position: relative;
		font-size: 10vw;
	}

	.round {
  	width: 60vh;
  	height: 60vh;
	}


	@keyframes launch-cercle {
	  0% {
	    top: -60vh;
	    left: -60vh;
	  }
	  35% {
	    top: -60vh;
	    left: -60vh;
	  }
	  100% {
	    top: -20vh;
	    left: -20vh;
	  }
	}

	li:nth-child(even),li:nth-child(odd) {
		animation: none;
	}

	.fixed-title {
		left: -40%;
	}

	.fixed-title.active {
		display: none;
	}

	header {
		height: 40vh;
	}

	.light-mod  {
		left: 85vw;
		position: fixed;
	}

	.follow-cursor {
		display: none;
	}

	canvas {
		display: none;
	}




}